<h1>Spots</h1>


<div class="container filtros">
  <div class="" ><h6>Type of water</h6></div>
  <div class="" ><h6>Captures</h6></div>
  <div class="" ><h6>Baits</h6></div>
  <div class="" ><h6>Rating</h6></div>
</div>




<div class="container">
  <div class="">
    <% @spots.each do |spot|%>
    <%= cl_image_tag spot.images.first.key, class: "ml-0" %>
    <div class="card-spot">
      <div class="card-spot-name">
        <%= spot.name.capitalize%>
      </div>
          <p><%= spot.latitude %>, <%= spot.longitude%></p>
          <i class="far fa-heart"></i>
          <div class="">
            <%=link_to "Check more information", spot_path(spot), style:"background-color: #FCAF3F;color: white;padding: 5px;border-radius: 10px;" %>
          </div>
    </div>
    <%end %>
  </div>
 </div>
