<h1>Spots</h1>

<%# <div class="container">
<%= @spots.each do |spot|%>
<%# <%= spot.name%>
<%# <%= spot.latitude %>
<%# <%= spot.description%>
<%# <%=link_to "Check more information", spot_path(spot) %>
<%# </div> %>
