<div class="container" style="margin-left: 37px; margin-top: 25px;">
<h1>List of spots</h1>
</div>

<div class="container filtros">
  <%= render "shared/search_bar", path: spots_path %>
  <div class="filtro" ><%=link_to "#" do %><h6>Type of water</h6><%end%></div>
  <div class="filtro" ><%=link_to "#" do %><h6>catches</h6><%end%></div>
  <div class="filtro" ><%=link_to baits_path do %><h6>Baits</h6><%end%></div>
  <div class="filtro" ><%=link_to "#" do %><h6>Rating</h6><%end%></div>
</div>

<%#div padre %>
<div class="vh-100" style="margin:20px;">


  <div class="d-flex vh-100">

  <div class="flex-grow-1 mx-3">
    <% @spots.each do |spot|%>
    <div class="card-spot">
      <div class="col-4">
        <%= cl_image_tag spot.images.first.key, class: "ml-0", style:"height: 160px; width:130px" %>
      </div>
      <div>
        <div class="card-spot-name">
          <%= spot.name.capitalize%>
        </div>
        <div class="card-spot-location">
          <% result =  Geocoder.search([spot.latitude, spot.longitude]) %>
          <strong><%= result.first.country if result.first.data["error"].nil?%>,
          <%= result.first.state if result.first.data["error"].nil? %></strong></p>
        </div>
        <div>
          <i class="far fa-heart" style="position: relative; right: -408px; top: -88px;"></i>
        </div>
          <div class="position: relative; left: -52px; top: -12px; font-size: 15px;">
            <%=link_to "Check more information", spot_path(spot), style:"background-color: #FCAF3F;color: white;padding: 5px;border-radius: 10px;" %>
          </div>
      </div>
    </div>
    <%end %>
  </div>

  <%# div del mapa  %>
  <div class="col-5">
    <div
      id="map-spot" class="map-spot"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
</div>
