<%= simple_form_for @spot do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :latitude, class: "form-control", as: :hidden %>
  <%= f.input :longitude, class: "form-control", as: :hidden%>
  <div id="map" class="mb-4"
    style="width: 100%; height: 600px;"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
<% end %>