
 <div class="fondo-show-spot">
 <div class="container">
  <div class =" show-card">
    <div>
      <h1><%= @spot.name %></h1>
      <% result = @spot.loc.nil? ? nil :@spot.loc.split(",") %>
      <p><i class="fas fa-star"> </i> 4.5/5 (420 reviews) | <strong><%= result[-1] unless result.nil? %>,
      <%= result[-3] unless result.nil? %></strong></p>
    </div>
    <div>
      <%= link_to "Add a Posts", "#", style:"background-color: #466a8e; color: white; padding: 7px; border-radius: 5px; position: relative; top: 17px;
    right: 20px;"%>
    </div>
  </div>


  <% images = @spot.images.map {|image| image.key} %>
  <% images_processed = []%>
  <% until images.empty? %>
    <% random = rand(1..3) %>
    <% images_processed.push(images.slice(0,random)) %>
    <% images = images.drop(random) %>
  <% end %>
  <div class="row-grid">
    <% images_processed.each do |slice| %>
      <div class="column-grid" style="max-width: <%= 100/images_processed.length%>%">
        <% slice.each do |image| %>
                   <%= cl_image_tag image, width: 200, height: 150, crop: :fit, :style =>"width:100%"%>
        <% end %>
      </div>
    <% end %>

  </div>

  <div>
    <div>
      <h3 style="margin-top: 20px; ">Description</h3>
      <div class="d-flex ">
        <div style="width: 100px; border-bottom: 1px solid black; margin-bottom: 15px"></div>
      </div>
    </div>

    <%= @spot.description%> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum rerum sapiente quidem suscipit nobis, dolorum vel aliquam animi ad deleniti aliquid sequi, non, nesciunt nisi autem asperiores molestiae velit! Mollitia.</p>
  </div>

 </div>
</div>

<div class="container">
  <div>
    <div>
      <h3 style="margin-top: 20px;">Captures</h3>
      <div class="d-flex ">
        <div style="width: 100px; border-bottom: 1px solid black; margin-bottom: 15px"></div>
      </div>
    </div >


    <%= render "shared/vertical_scrollbar", :array => @spot.catch_spots, :vh => "vh-40" %>



  </div>

  <div>
    <div>
      <h3 style="margin-top: 20px; ">Baits</h3>
      <div class="d-flex ">
        <div style="width: 100px; border-bottom: 1px solid black; margin-bottom: 15px"></div>
      </div>
    </div>

    <%= render "shared/horizontal_scrollbar2", :array => Bait.from_spot_id(@spot.id) %>
 </div>



  <div>
    <div>
      <h3 style="margin-top: 20px; ">Posts</h3>
      <div class="d-flex ">
        <div style="width: 100px; border-bottom: 1px solid black; margin-bottom: 15px"></div>
      </div>

      < <div class="carrousel">
        <div class="grande">
          <div>
            <%= @posts.each do |post| %>
             <%= cl_image_tag post.image.key, width: 200, height: 150, crop: :fit, :class => "" %>
            <div>
              <p><%= post.title %></p>
              <p><%= post.body %></p>
            </div>
            <% end %>
           </div>

           <div>
             <ul class="puntos">
               <li class="punto activo"></li>
               <li class="punto"></li>
             </ul>
           </div>
        </div>
      </div>
    </div>



  <%= link_to "new post", new_spot_post_path(@spot)%>
</div>
