
<%= link_to catch_path(element) do %>

  <div class="catch-card mb-3">
    <div class='anotation'>
      <p>41</p>
    </div>
    <div class="fish-image">
      <%= cl_image_tag(catch.image.key) %>
    </div>
    <div class="catch-info">
      <h1> <%= element.name %></h1>
      <h2>Scientific name: <%= element.scientific_name %></h2>
      <p><strong>Description:</strong><%= element.description %></p>
      <p>Habitat: <%= element.habitat %></p>
    </div>
  </div>
<% end %>
