<div class="my-3">
  <div class="horizontal-scroll">
    <div class="list">
      <% array.each do |element| %>
        <%= link_to baits_path(element) do  %>
          <div class="card-trip inline">
            <img src="https://res.cloudinary.com/ddlmgs04n/image/upload/o_88/v1634667998/Fish%20up/GP_and_J_Baker_Riviera_Velvet_Royal_Blue_Fabric_40_Off___Samples_j3fbo0.jpg" />
            <div class="card-trip-infos">

            <div>
              <h2>  <%= element.name%></h2>
              <p><%= element.description%></p>
             </div>
              <h2 class="card-trip-pricing"><%= element.cost %></h2>
              <%= cl_image_tag element.image.key, class:"card-trip-user avatar-bordered" %>
      </div>
    </div>

        <% end  %>
      <% end %>
    </div>
  </div>
</div>
