
<div class="banner-bait color-brown" >
  <div class="container">
    <div class="row">
      <div class="col">
        <h1><strong><%=  @bait.name.capitalize %></strong></h1>
        <%= cl_image_tag @bait.image.key, class: "ml-0" %>
      </div>
      <div class="col">
        <div>
          <h2 class>Description</h2>
          <hr>
          <p> <%= @bait.description %></p></a>
        </div>
        <div>
          <h2 class>cost</h2>
          <hr>
          <p> <%= @bait.cost %></p></a>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="container">
  <div>
    <h2 class>Possible Catches</h2>
    <hr>
    <%= render 'shared/horizontal_scrollbar' , :array => @bait.catches %>
  </div>
  <div>
    <h2 class>Spots</h2>
    <hr>
    <%= render 'shared/horizontal_scrollbar' , :array => Spot.from_bait_id(@bait.id) %>
  </div>
</div>
