
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://res.cloudinary.com/ddlmgs04n/image/upload/v1634328614/Fish%20up/greysen-johnson-cZVzzFadTMc-unsplash_1_cfkwc9.jpg);">
  <div class="container ">
    <h1><strong>Fishup</strong></h1>
    <p>Get a rod, we'll give you a spot</p>
    <%= link_to "Browse spots", spots_path, style:"background-color: #466a8e; color: white; padding: 15px; padding-left: 40px; padding-right: 40px; border-radius: 5px;"%>

  </div>
</div>



<div class="container vh-60">
  <div class="row">
    <div class="col-5">
      <h3 class= "subtitle-homepage2">Best Community</h3>
      <hr>
      <p class="mt-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum fuga, omnis ad aspernatur velit id voluptas illum recusandae minus dolorem, similique dolor corporis ex expedita repellat non modi iusto ipsam.</p>

    </div>
    <div class="col-2"></div>
      <div class="col-5 cards ">
      <div class="card mb-3" >
        <%= image_tag "https://res.cloudinary.com/ddlmgs04n/image/upload/v1634328773/Fish%20up/maria-orlova-kdh4OxHLM_Q-unsplash_nl84ix.jpg", class: "card-img-top"%>
        <div class="card-body">
          <h5 class="card-title">Best Experience</h5>
          <p class="card-text">Lorem ipsum </p>
        </div>
      </div>
      <div class="card" >
        <%= image_tag "https://res.cloudinary.com/ddlmgs04n/image/upload/v1634071047/Fish%20up/austin-neill-3quTd6dyudg-unsplash_vqtccz.jpg", class: "card-img-top"%>
        <div class="card-body">
          <h5 class="card-title">Best Experience</h5>
          <p class="card-text">Lorem ipsum </p>
        </div>
      </div>
      <div class="card" >
        <%= image_tag "https://res.cloudinary.com/ddlmgs04n/image/upload/v1634328904/Fish%20up/mana-nabavian-gdR9YwVbvtk-unsplash_d2koim.jpg", class: "card-img-top"%>
        <div class="card-body">
          <h5 class="card-title">Best Experience</h5>
          <p class="card-text">Lorem ipsum </p>
        </div>
      </div>
      <div class="card" >
        <%= image_tag "https://res.cloudinary.com/ddlmgs04n/image/upload/v1634328952/Fish%20up/leonard-cotte-DUZ9XT10Y_A-unsplash_zbljcm.jpg", class: "card-img-top"%>
        <div class="card-body">
          <h5 class="card-title">Best Experience</h5>
          <p class="card-text">Lorem ipsum </p>
        </div>
      </div>
    </div>
  </div>
  </div>

</div>

<div class="fondo-home-page">
  <%= image_tag "https://res.cloudinary.com/ddlmgs04n/image/upload/a_180/v1634742205/Fish%20up/descarga_aw39ch.png", style:"opacity:0.9; background: #a9b8c7; position: relative; top: 100px;"%>
</div>
<div style="background: #b0becb; height: 452px;">
<div class=" spots-homepage">
  <h1 class= "subtitle-homepage">Nearby Spots</h3>
    <div class="d-flex justify-content-around">
      <div class="card-type-ship">
       <%= link_to spots_path do%>
       <div class="card-photo">
         <%= image_tag "https://res.cloudinary.com/ddlmgs04n/image/upload/v1634329963/Fish%20up/justin-luebke-ARSCXacOtkY-unsplash_lu061e.jpg" %>
      </div>
         <%end %>
        <h5>Muelle de chorrillos </h5></a>
      </div>
      <div class="card-type-ship">
        <a href="/ships?ship_type=tourism"><div class="card-photo"><%= image_tag "https://res.cloudinary.com/ddlmgs04n/image/upload/v1634071056/Fish%20up/ju-on-_zZrmWCGdsg-unsplash_snei3z.jpg" %></div>
        <h5>La Pampilla’s ro </h5></a>
      </div>
      <div class="card-type-ship">
        <a href="/ships?ship_type=diving"><div class="card-photo"><%= image_tag "https://res.cloudinary.com/ddlmgs04n/image/upload/v1634071054/Fish%20up/ivana-cajina-9W9WSv6JyS8-unsplash_vioikl.jpg" %></div>
        <h5>Las Estrellas’ rocks</h5></a>
      </div>
      <div class="card-type-ship">
        <a href="/ships?ship_type=leisure"><div class="card-photo"><%= image_tag "https://res.cloudinary.com/ddlmgs04n/image/upload/v1634330092/Fish%20up/nicolas-jossi-33GscNREhrk-unsplash_lmhr8z.jpg" %></div>
        <h5>La defensa’s wall </h5></a>
      </div>

    </div>
</div>
</div>
<div class="fondo-home-page">
  <%= image_tag "https://res.cloudinary.com/ddlmgs04n/image/upload/a_0/v1634742205/Fish%20up/descarga_aw39ch.png", style:"opacity:0.9; background: #a9b8c7; position: relative; top: 0px;"%>
</div>


<div class=" mini-banner-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(https://res.cloudinary.com/ddlmgs04n/image/upload/v1634329689/Fish%20up/robson-hatsukami-morgan-qr7tsSwDOg0-unsplash_1_hrm3ox.jpg); margin-top: 80px;">
  <div class="promotion-banner-capitan">
    <h5>Explore new adventures</h5>

    <button type="button" class="btn btn-light">More information</button>
  </div>
</div>


<div class="container celular">
   <div class="celular-info">
     <h3>Join the largest fishing community</h3>
     <hr>
     <p>Start fishing with the help of the app to improve your days on the water.<br>Opportunity to instantly upload posts about the fish you caught</p>
     <%= image_tag "https://res.cloudinary.com/ddlmgs04n/image/upload/v1634752267/Fish%20up/frame_wrjsvk.png", style:"width:90px; height:90px"%>
   </div>
   <div class="img-celular">
     <%= image_tag "https://res.cloudinary.com/ddlmgs04n/image/upload/v1634754045/Fish%20up/image_5_e5dtts.png", style:"width:247px; height:452px; display: flex;margin: 0 auto; "%>
   </div>
</div>
